@import './styles/tokens.css';

:root {
  --text: #333;
  --text-h: #08060d;
  --bg: #ffffff;
  --accent: #6c4bd6;

  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100svh;
}

#root {
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}
